<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>


<!-- # # $ ps aux | grep 'ruby'
# # shotgun config.ru
# # gem install SecureRandom
# # $ kill -9 5407
#  #$ kill -9 4-82
# #$ bundle exec rake server

 -->